<div class="md-form mt-0">
  <input class="form-control" type="text" placeholder="Search for products" aria-label="Search">
</div>

<div class="row mt-4">
  
  <div class="col-md-3">
    <div class="card ebook">
      <div class="book-cover" style="background-image: url(/src/assets/books-img/BcG2dVRXKukC.jpg);"></div>
      <div class="book-body">
        <div class="card-body pt-3 pb-3">
          <h6 class="card-title m-0">The Name of the Wind: The Kingkiller Chronicle</h6>
        </div>
        <div class="card-body pt-3 pb-3 border-top border-bottom">
            <small>Patrick Rothfuss</small>
        </div>
        <div class="card-body text-right pt-3 pb-3">
            <button href="#" class="btn btn-sm btn-outline-success">BUY 0,99 $</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ebook">
      <div class="book-cover" style="background-image: url(/src/assets/books-img/0VWdBAAAQBAJ.jpg);"></div>
      <div class="book-body">
        <div class="card-body pt-3 pb-3">
          <h6 class="card-title m-0">Seveneves: A Novel</h6>
        </div>
        <div class="card-body pt-3 pb-3 border-top border-bottom">
            <small>Neal Stephenson</small>
        </div>
        <div class="card-body text-right pt-3 pb-3">
            <button href="#" class="btn btn-sm btn-outline-success">BUY 0,99 $</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ebook">
      <div class="book-cover" style="background-image: url(/src/assets/books-img/5NomkK4EV68C.jpg);"></div>
      <div class="book-body">
        <div class="card-body pt-3 pb-3">
          <h6 class="card-title m-0">A Game of Thrones: A Song of Ice and Fire: Book One</h6>
        </div>
        <div class="card-body pt-3 pb-3 border-top border-bottom">
            <small>George R. R. Martin</small>
        </div>
        <div class="card-body text-right pt-3 pb-3">
            <button href="#" class="btn btn-sm btn-outline-success">BUY 0,99 $</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ebook">
      <div class="book-cover" style="background-image: url(/src/assets/books-img/iO9oDwAAQBAJ.jpg);"></div>
      <div class="book-body">
        <div class="card-body pt-3 pb-3">
          <h6 class="card-title m-0">Marvel's SPIDER-MAN: Hostile Takeover</h6>
        </div>
        <div class="card-body pt-3 pb-3 border-top border-bottom">
            <small>David Liss</small>
        </div>
        <div class="card-body text-right pt-3 pb-3">
            <button href="#" class="btn btn-sm btn-outline-success">BUY 0,99 $</button>
        </div>
      </div>
    </div>
  </div>

</div>